*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Verdana;
}
section{
    width: 70%;
    margin: auto;
    font-family: arial;
}
h1{
    color: rgba(0,0,0,.8);
    border-bottom: 1px solid rgba(0,0,0,.1);
    height: 60px;
    line-height: 70px;
    margin-bottom: 40px;
}
#imagens{
    background-color: red;
}
.caixa-img{
    width: 15%;
    float: left;
    padding: 1%;
    background-color: rgb(123,104,238,.4);
    margin: 10px;
    height: 150px;
    cursor: pointer;
}
img{
    width: 100%;
}
p{
    width: 70%;
    text-align: justify;
    line-height: 30px;
}